

@{
    ViewBag.Title = "Edit";
}

<h2>Editare Grup</h2>

<form method="post" action="/Groups/Edit/@ViewBag.group.GroupId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <label>Nume Grup</label>
    <input type="text" name="Name" value="@ViewBag.group.Name" />

    <label>E privat</label>
    <select name="IsPrivate">
        <option value="true">Privat</option>
        <option value="false">Public</option>
    </select>

    <button type=" submit">Modifica grup</button>


</form>