@{
    ViewBag.Title = "Edit";
}

    <link rel="stylesheet" href="../Content/manual.css">

<style>
    .buttonS {
        background-color: #3891A6; /* Green */
        border: 2px;
        border-style: solid;
        border-color: black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 10px;
    }
</style>


<div style="text-align: center;">

<h2 class="titlu">Editare Grup</h2>

<form method="post" action="/Groups/Edit/@ViewBag.group.GroupId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <label>Nume Grup</label>
    <input type="text" name="Name" value="@ViewBag.group.Name" />

    <label>E privat</label>
    <select name="IsPrivate">
        <option value="true">Privat</option>
        <option value="false">Public</option>
    </select>
    <br />
    <button type="submit" style="margin-top:10px;" class="buttonS">Modifica grup</button>


</form>

</div>