@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SocialJohnny</h1>
    <p class="lead">SocialJohnny este o platforma prin care poti sa impartasesti cu lumea ideile tale</p>
</div>
