@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/SJ.png" alt="logo" />
    <p class="lead" style="margin-top:40px;">SocialJohnny este o platforma prin care poti sa impartasesti cu lumea ideile tale. Platforma este una adfree, realizata de studentii Universitatii din Bucuresti. Tinerii au vrut ca utilizatorii sa puna accent pe interactiune si schimb de idei, contrar trendului de consumerism dus la extrem in zilele noastre.</p>
</div>

<div>
    <img class="resize" src="~/Images/hom.png" alt="imag prezentare" />
</div>

<div>
    <p style="font-family:Audiowide; font-size:40px; margin-top:40px" align="center">Improve your content</p>
</div>


<link rel="stylesheet" href="../Content/manual.css">
<div class="wrapperBut">
    <a href="https://app.grammarly.com/" class="button">Text</a>
    <a href="https://stock.adobe.com/ro/" class="button">Images</a>
</div>