@{
ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/SJ.png" alt="Sample Photo" />
    <p class="lead">SocialJohnny este o platforma prin care poti sa impartasesti cu lumea ideile tale</p>
</div>