@model SocialJohnny.Models.Comment

@{
    ViewBag.Title = "Edit";
}

<h2>Editare Comment</h2>

<form method="post" action="/Comments/Edit/@Model.CommentId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <label>Text coment</label>
    @Html.Label("Text", "Text comentariu")
    @Html.Editor("Text")

    <button type=" submit">Modifica comentariu</button>


</form>