
@{
    ViewBag.Title = "ShowFriends";
}

<h2>ShowFriends</h2>

@foreach (var profile in ViewBag.friends)
{
    <h2>@profile.Nickname</h2>
    <br />
    <h2>@profile.FirstName</h2>
    <br />
    <h2>@profile.LastName</h2>
    <br />
    <br />
}