
@{
    ViewBag.Title = "ShowFriendRequest";
}
<h2>Friend Requests</h2>
<br />

@foreach (var profile in ViewBag.profiles)
{
    <h2>@profile.Nickname</h2>
    <br />
    <h2>@profile.FirstName</h2>
    <br />
    <h2>@profile.LastName</h2>
    <br />
    <form action="/Profiles/AcceptRequest/@profile.ProfileId">
        <button type="submit">Accept Request</button>
    </form>
    <br />
    <form action="/Profiles/DeleteRequest/@profile.ProfileId">
        <button type="submit">Delete Request</button>
    </form>


    <br />
}

